@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
  }
  
  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f1f1f1;
  }


  .toastBody {
    font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
    color: #10171D; 
    font-size: 0.875rem !important;
  }

  ul .active {
    border-bottom: 3px solid #3b82f6;
  }

  /* Add this to your CSS file */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

body{
  background-color:#f3f4f6;
}
